h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
ul:active{
    font-family: 'Courier New', Courier, monospace;
    color: red;
}
ul:hover{
    font-family: 'Courier New', Courier, monospace;
    color: green;
    background-color: yellow;
}